h1{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    color: black;
}

h3{
    text-align: center;
    color: black;
}

#fill{
    background: gray;
}

table{
    border: 2px solid black;
    color: black;
    background: gray;
    padding: 50px;
    border-bottom: 1px;
}

.body{
    text-align: center;
    color: black;
}